body {
  min-width: 800px;
  overflow-x: scroll;
}

h1 {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 20px;
  margin: 0;
}

a {
  color: blue;
  text-decoration: none;
}

.current_link {
  color: black;
}

#main_table {
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 0;
}

#contents_list {
  border-right: 1px solid black;
}

#content {
  padding-left: 30px;
}
